h1 span{
    color: rgb(69, 184, 172);
}
main img{
    max-height: 600px;
}
[data-bs-theme=dark]{
    --my-label-color : #6ba9fb;
    --input-border-color:#1a73e8;
    --input-color-scheme: dark;
}
[data-bs-theme=light]{
    --my-label-color : rgb(26, 115, 232);
    --input-border-color:#6ba9fb;
    --input-color-scheme: light;
}
.btn-info,.btn-info:focus,.btn-info:active{
    color: var(--bs-body-bg) !important;
    background: rgb(69, 184, 172) !important;
}
#register-btn,#login-btn {
    width: 50%;
    max-width: 300px;
}
#register-btn-div,#login-btn-div{
    display: flex;
    justify-content: center;
}
.btn-info:hover{
    color: var(--bs-body-bg) !important;
    background: rgb(78, 206, 193) !important;
}
.plh-none:focus{
    box-shadow: 0 0 0 1px var(--input-border-color) !important;
}
.plh-none::placeholder{
    color: var(--bs-body-color);
}
.plh-none:focus::placeholder{
    color: transparent;
}
input{
    z-index: 1 !important;
    border-radius: 0.375rem !important;
    color-scheme: var(--input-color-scheme);
}
.is-invalid{
    --input-border-color:var(--bs-danger);
}
.myInputTag{
    position: absolute;
    z-index: 2;
    top: -14px;
    background-color: white;
    left: 10px;
    font-size:0.9rem;
    padding: 0px 5px;
    color: var(--bs-body-color);
    display:none;
}
.myInputTag{
    background-color: var(--bs-body-bg);
    color: var(--my-label-color);
}
.eye{
    position: absolute;
    right: 2rem;
    z-index: 1;
    font-size: 1.5rem;
}
#forget_pass_btn{
    position: absolute;
    right: 0;
}
#user_img{
    max-width: 400px;
    display: block;
    margin:auto;
}
.user-left-section{
    width: 40%;
}
.user-left-section .image_area img{
    max-width: 300px;
    width: 60%;
    display: block;
    margin: auto;
}
.user-right-section{
    width: 60%;
}
#user_control{
    margin-left: auto;
}
#user_control img{
    width: 50px;
    cursor: pointer;
}
#theme_change_btn{
    margin-right: 1rem;
    cursor: pointer;
}
#user_profile_photo{
    max-height:400px;
    min-width: 200px;
    position:relative;
    left:0%;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.was-validated input:invalid, .was-validated select:invalid{
    --input-border-color:var(--bs-danger);
}
.was-validated input:valid, .was-validated select:valid{
    --input-border-color:var(--bs-success);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#resume_delete_button{
    visibility: hidden;
}
td{
    outline-color: #1a73e8;
}
table .is-invalid{
    border: 1px solid var(--bs-danger) !important;
    border-color: var(--bs-danger);
    border-width: inherit;
    outline-color: var(--bs-danger);
}
input::file-selector-button {
    display: none;
}
.company_favicon_section{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:1400px){
    .applicants-list-img-section{
        width: 100% !important;
    }
    .applicants-list-img{
        border-radius: 50% !important;
    }
}
.btn-outline-adobe{
    --bs-btn-color: #FA0F00;
    --bs-btn-border-color: #FA0F00;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #FA0F00;
    --bs-btn-hover-border-color: #FA0F00;
    --bs-btn-focus-shadow-rgb: 255,193,7;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #FA0F00;
    --bs-btn-active-border-color: #FA0F00;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffc107;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ffc107;
    --bs-gradient: none;
}
.user-right-section .btn-link{
    font-weight: bold;
    text-decoration: none;
}
.user-right-section .btn-link:hover, .user-right-section .btn-link:active, .user-right-section .btn-link:focus{
    text-decoration: underline;
}
#student_docs_details_modal .modal-body > div{
    display: none;
}
.nir{
    border-radius: 0.375rem !important;
}
body{
    padding-top: 4.5rem;
}
#search_results{
    position: absolute;
    top: 50px;
    z-index: 2;
}
#search_results a > div{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#main_search, #search_results{
    width: calc(100vw - 600px) !important;
}
input[type="search"]::-webkit-search-cancel-button{
    background-color: var(--bs-body-color);
    -webkit-mask: url("/placement_cell/img/cross_sign.svg") no-repeat 50% 50%;
    mask: url("/placement_cell/img/cross_sign.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
@media screen and (max-width:992px){
    #main_search,#search_results{
        width: 100% !important;
    }
}
.user-left-section img{
    display: block;
    margin: auto;
}